# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Microsoft Office Temp Files (Word / Excel lock files)
~$*
*.tmp

# Logs
*.log
outputs/logs/*.log

# Operating System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~

# Kecualikan .gitkeep agar struktur folder tetap terlacak git
!.gitkeep
